<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/images/Logo.png" alt="PartStock Logo" width="30" height="30" class="d-inline-block align-text-top">
      PartStock
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <!-- Home Link -->
        <li class="nav-item">
          <% if (title === "Home") { %>
            <a class="nav-link active" href="/">
          <% } else { %>
            <a class="nav-link" href="/">
          <% } %>
            <i class="fa-solid fa-house-chimney"></i> Home
          </a>
        </li>
        
        <!-- Product Link -->
        <li class="nav-item">
          <% if (title === "stock") { %>
            <a class="nav-link active" href="/stock">
          <% } else { %>
            <a class="nav-link" href="/stock">
          <% } %>
            <i class="fa-brands fa-elementor"></i> Product
          </a>
        </li>

        <!-- Conditional Login, Logout, and Register -->
        <% if (!user) { %> <!-- Show when user is NOT logged in -->
          <li class="nav-item">
            <a class="nav-link" href="/login">
              <i class="fa-solid fa-right-to-bracket"></i> Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">
              <i class="fa-solid fa-user-plus"></i> Register
            </a>
          </li>
        <% } else { %> <!-- Show when user IS logged in -->
          <li class="nav-item">
            <span class="nav-link text-light">Mechanic: <%= user.displayName || user.username %></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="fa-solid fa-right-from-bracket"></i> Logout
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
