  <%- include Partials/header.ejs %>
  <%- include Partials/main_nav.ejs %>
  <!--Main Content-->
  <head>
    <img class = "partsBackground" src ="https://t3.ftcdn.net/jpg/06/42/15/52/360_F_642155259_wkEIRRSocT0VH4W8E7lneTiywgwJcvFc.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Oswald:wght@200..700&family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet">
    <link rel = 'stylesheet' href='/stylesheets/style.css' />
    <h1>Welcome to Part Stock</h1>
    <p>List your parts and stock and get quick sales!!</p>
    <div class = productLink> 
      <a href="/stock">View Stock</a>
    </div>
    <a>
  </head>


    
<%- include Partials/footer.ejs %>