h1{
  font-family: "Anton SC", sans-serif;
  font-size: 80px;
  text-align: center;
  padding-top: 100px;
  color: whitesmoke;
}

p{
  font-family: "Anton SC", sans-serif;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  color: whitesmoke;
}

a{
  font-family: "Anton SC", sans-serif;
  font-size: 24px;
  text-align: center;
}

.productLink{
  margin: auto;
  padding: 10px;
  text-align: center;
}

.partsBackground{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: brightness(0.6);
  position: absolute;
  z-index: -1;
}

.stockTitle{
  font-family: "Anton SC", sans-serif;
  font-size: 75px;
  text-align: center;
  padding-top: 20px;
  color: whitesmoke;
}

label{
  color: white;
}

.navbar{
  background-image: linear-gradient(to right, black, rgb(28, 27, 27), rgb(0, 0, 0));
}

th{
  font-family: "Anton SC", sans-serif;
  font-size: 24px;
  text-align: left;
  color: whitesmoke;
}

td{
  font-family:'Times New Roman', Times, serif;
  font-size: 16px;
  text-align: left;
  
  color: whitesmoke;
}

table{
  border-radius: 6px;
}